@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes sfn-ping {
  0% { stroke: rgba(239, 68, 68, 1); stroke-width: 4px; }
  50% { stroke: rgba(239, 68, 68, 0.1); stroke-width: 4px; }
  100% { stroke: rgba(239, 68, 68, 1); stroke-width: 4px; }
}

.sfn-pulse {
  animation: sfn-ping 1.2s infinite ease-in-out;
}

.export-mode .leaflet-control-zoom,
.export-mode .export-hide {
  display: none !important;
}
